{% extends "base.html" %}
{% block title %}知了问答平台-首页{% endblock %}
{% block body %}
    <div class="row" style="margin-top: 20px;">
            <div class="col"></div>
            <div class="col-10">
                <ul class="question-ul">
                    <li>
                        <div class="side-question">
                            <img class="side-question-avatar" src="./static/images/avatar.jpg" alt="">
                        </div>
                        <div class="question-main">
                            <div class="question-title"><a href="#">钢铁侠是怎样炼成的</a></div>
                            <div class="question-content">传奇钢铁侠的成长之路</div>
                            <div class="question-detail">
                                <span class="question-author">托尼史塔克</span>
                                <span class="question-time">2022年12月1日</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col"></div>
        </div>
{% endblock %}
